{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<h1>Categorie</h1>
    {% for categorie in categories %}
    {{ categorie.nom }}
    {{ categorie.creation|date ('d/m/Y') }}
    {% else %}
    <h3>il n'y a pas de categorie</h3>
    {% endfor %}
{% endblock %}
